#title-container {
  font-weight: bold;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
#welcome,
#website-row-website {
  font-size: 2rem;
  font-weight: normal;
}

#welcome {
    margin-right: 12px;
}

#first-name,
#last-name {
  font-size: 66px;
  line-height: 130%;
  transform: scale(250%, 200%) translateX(38%);
}
#last-name {
  flex-grow: 1;
}

#last-name-row {
  display: flex;
  align-items: end;
}

#last-name::after {
  content: "'s";
  font-size: 32px;
  margin-left: -12px;
  font-weight: normal;
}

#possessive {
  font-size: 48px;
}

.website-row {
  display: flex;
  margin-top: 40px;
  align-items: center;
  margin-bottom: 20px;
}

.website-row-spacer {
  border-bottom: 2px dotted var(--text);
  flex-grow: 1;
  margin-top: 4px;
}

#website-row-website {
    margin-left: 12px;
}
